@import "../abstracts";

// ! CSS Positioning the slider
.slider-wrapper {
  @include min-break-point(tablet-landscape) {
    bottom: 1rem;
    position: absolute;
    z-index: 30;
  }

  // ! hover interaction of single card
  .card-main:hover {
    transform: translate(0%, -6%) scale(1.2);
    transition: 200ms ease-in-out;
  }
}

// ! active class dynamically added when clicked
.active-card {
  transform: translate(0%, -6%) scale(1.2);
  transition: 200ms ease-in-out;

  .card-main:hover {
    transform: none;
  }
}
